<!DOCTYPE html>
<html>
  <head>
    <script src="./angular.min.js"></script>
  </head>
  <body ng-app="labApp">
  	<div ng-controller="MainController">
	  	<div ng-repeat="product in products">
		    <div>
		      <label>{{ product.title }}:</label>
		      <button ng-click="like($index)">Like {{ product.likes }}</button>
		      <button ng-click="dislike($index)">Disike {{ product.dislikes }}</button>
		    </div><br>
	    </div>
    </div>
    
    

    <!-- Modules -->
    <script src="./js/app.js"></script>

    <!-- Controllers -->
    <script src="./js/controllers/MainController.js"></script>

    <!-- Services -->
    <script src="./js/services/Update.js"></script>
    <script src="./js/services/Retrieve.js"></script>
  </body>
</html>